:root {
  --background: #ffffff;
  --text-color: #3A3A3A;
}

[data-theme='dark'] {
  --background: #1C1C1C;
  --text-color: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100%;
  background: var(--background);
  color: var(--text-color);
}

#body-wrapper {
  min-height: 100%;
  padding-left: max(24px,env(safe-area-inset-left));
  padding-right: max(24px,env(safe-area-inset-right));
  padding-bottom: env(safe-area-inset-bottom);
}

main {
  min-height: 100vh;
  position: relative;
  padding: 64px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 18px;
  font-weight: 600;
}

.btn-theme {
  z-index: 1000;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background: var(--background);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background: rgba(242, 242, 242, 1);
  }

  &:focus {
    outline: 1px solid #9EA6B5;
  }
}

[data-theme='dark'] .btn-theme:hover {
  background: hsla(0, 0, 100, 10%);
}

[data-theme='dark'] .btn-theme:focus {
  outline: 1px solid hsla(0, 0, 100, 40%);
}

.btn-theme > .theme-light {
  transform: rotate(0deg);
  transform: scale(1);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-theme='dark'] .btn-theme > .theme-light {
  transform: rotate(90deg);
  transform: scale(0);
}

.btn-theme > .theme-dark {
  position: absolute;
  transform: rotate(90deg);
  transform: scale(0);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

[data-theme='dark'] .btn-theme > .theme-dark {
  transform: rotate(0deg);
  transform: scale(1);
}

.dropdownContent {
  z-index: 1000;
  border: 1px solid #D1D3D8;
  background: var(--background);
  border-radius: 6px;
  padding: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

[data-theme='dark'] .dropdownContent {
  border-color: hsla(0, 0, 100, 10%);
}

.dropdownContent[data-side='top'] {
  animation-name: slideDownAndFade;
}

.dropdownContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}

.dropdownContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.dropdownContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.dropdownItem {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 6px;
  position: relative;
  user-select: none;
  outline: none;

  &[data-highlighted] {
    background: rgba(242, 242, 242, 1);
  }
}

[data-theme='dark'] .dropdownItem[data-highlighted] {
  background: hsla(0, 0, 100, 10%);
}

.theme-menu-item {
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.layout {
  width: 100%;
  max-width: 480px;
}

hr {
  margin: 40px 0;
  border-color: #F2F2F2;
  border-style: solid;
}

[data-theme='dark'] hr {
  border-color: #232323;
}

.new-task {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.new-task textarea,
.new-task .btn-add {
  resize: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 150%;
  border-radius: 6px;
}

.new-task textarea {
  background: var(--background);
  border: 1px solid #D1D3D8;
  color: var(--text-color);
  padding: 12px 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
  scroll-padding-block: 12px;

  &:focus {
    outline: 1px solid #9EA6B5;

    & + kbd {
      display: none;
    }
  }

  &::placeholder {
    color: #798088;
  }
}

[data-theme='dark'] .new-task textarea {
  background: #1C1C1C;
  border-color: hsla(0, 0, 100, 10%);
  color: #E5E5E5;

  &:focus {
    outline: 1px solid hsla(0, 0, 100, 40%);
  }

  &::placeholder {
    color: hsla(0, 0, 90, 40%);
  }
}

.new-task kbd {
  display: none;
}

.new-task .btn-add {
  color: #ffffff;
  background-color: #3A3A3A;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    opacity: .9;
  }

  &:focus {
    outline: 1px solid #9EA6B5;
  }

  &[disabled] {
    opacity: .2;
    pointer-events: none;
  }
}

[data-theme='dark'] .new-task .btn-add {
  background-color: #E5E5E5;
  color: #1C1C1C;

  &:focus {
    outline: 1px solid hsla(0, 0, 100, 40%);
  }
}

.tasklist {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.tasklist > li {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  background: rgba(242, 242, 242, 0);
  border-radius: 8px;

  &:not(:last-child) > label {
    box-shadow: 0 1px 0 #F2F2F2;
  }

  &:hover {
    background: rgba(242, 242, 242, 1);

    & label {
      box-shadow: unset;
    }
  }

  &:has(input:checked) {
    color: #798088;
  }
}

[data-theme='dark'] .tasklist > li {
  background: hsla(0, 0, 100, 0%);

  &:not(:last-child) > label {
    box-shadow: 0 1px 0 #232323}

  &:hover {
    background: #232323
  }

  &:has(input:checked) {
    color: hsla(0, 0, 100, 40%);
  }
}

.tasklist > li > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  line-height: 150%;
}

.tasklist > li > label .btn-delete {
  border: none;
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: rgba(230, 27, 27, 1);
  background: transparent;
  cursor: pointer;

  & > svg:hover {
    color: rgba(230, 27, 27, .8);
  }
}

.tooltipContent {
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1;
  color: var(--text-color);
  background-color: var(--background);
  border: 1px solid #D1D3D8;
  user-select: none;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

[data-theme='dark'] .tooltipContent {
  border-color: hsla(0, 0, 100, 10%);
}

.tooltipContent[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}

.tooltipContent[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}

.tooltipContent[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.tooltipContent[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background: var(--background);
  border: 1px solid #D1D3D8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
  cursor: pointer;
  display: grid;
  place-content: center;

  &:focus {
    outline: 1px solid #9EA6B5;
  }

  &:hover {
    border-color: #9EA6B5;
  }

  &::before {
    content: "";
    width: inherit;
    text-align: center;
  }

  &:checked::before {
    content: url("../public/assets/check.svg");
  }
}

[data-theme='dark'] input[type="checkbox"] {
  border-color: hsla(0, 0, 100, 10%);
  box-shadow: 0 1px 2px rgba(255, 255, 255, .06);

  &:focus {
    outline: 1px solid hsla(0, 0, 100, 40%);
  }

  &:hover {
    border-color: hsla(0, 0, 100, 40%);
  }

  &:checked::before {
    content: url("../public/assets/check-dark.svg");
  }
}

@media (min-width: 1024px) {
  .new-task kbd {
    pointer-events: none;
    user-select: none;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #798088;
    border-radius: 4px;
    background: var(--background);
    box-shadow: inset 0 0 0 1px #D1D3D8;
  }
  
  [data-theme='dark'] .new-task kbd {
    box-shadow: inset 0 0 0 1px hsla(0, 0, 100, 10%);
    color: hsla(0, 0, 90, 40%);
  } 
}